* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000000;
  font-family: "Satoshi", sans-serif;
  background: #9d9d9d;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 37px;
  position: relative;
  background: #f3f5f7;
}

.flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar-logo h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
}
.navbar_link_list {
  list-style-type: none;
  display: inline-flex;
  cursor: pointer;
}
.button {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
}

.bg-orange {
  background: url("/assets//img/button.svg");
  padding: 10px 42px;
  /* background: linear-gradient(
    218.09deg,
    rgba(248, 155, 166, 0.8) 21.82%,
    rgba(255, 211, 191, 0.8) 76.1%
  ); */
  border-radius: 50px;
  align-items: center;
}
.sms_link {
  border-radius: 50%;
  padding: 8px;
  border: 1px solid #000000;
  margin: 0 10px;
}
main {
  background: linear-gradient(0deg, #000000, #000000), #000000;
}

.section,
.header {
  border-radius: 10px;
  border: 1px solid #000000;
  border-bottom: none;
}
.bg-primary {
  background: linear-gradient(0deg, #e8e7ee, #e8e7ee), #000000;
  padding: 82px 230px 165px 230px;
}
.header h1 {
  font-weight: 900;
  font-size: 80px;
  line-height: 108px;
  text-align: center;
}
.header_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}
.card_items {
  flex-wrap: wrap;
  font-size: 30px;
  line-height: 41px;
}
.card_item {
  border: 1px solid #000000;
  background: #f3f5f7;
  width: 50%;
  padding: 48px 30px;
  border-radius: 10px;
}
.card_item h1 {
  margin-bottom: 14px;
  font-weight: 1000;
  font-size: 40px;
  line-height: 54px;
}
.bg_card_primary {
  background: #f3f3f5;
}
.bg_card_secondary {
  background: #f3f5f7;
}

.card_item_last {
  display: flex;
  align-items: center;
}
.footer {
  background: linear-gradient(0deg, #000000, #000000), #000000;
  font-weight: 400;
  font-size: 30px;
  line-height: 54px;
  color: #e8e7ee;
}
.footer_list {
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
}
.footer_list_item {
  width: 50%;
  padding: 44px 30px;
}
.fixed {
  position: fixed;
}
.fixed-nav {
  padding: 16px 40px;
  background: #000000;
  top: 70%;
  max-width: inherit;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.fixed-nav_item {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #e8e7ee;
  cursor: pointer;
}
.badge {
  height: 20px;
  width: 30px;
  border-radius: 9px;
  margin-right: 5px;
}
.bg-pink-light {
  background: #df9198;
}
.bg-blue-dark {
  background: #47b1f2;
}
.bg-blue-light {
  background: #94d1e1;
}
.arrow-right {
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.footer_heading {
  padding-top: 60px;
  margin-left: 30px;
}
@media screen and (max-width: 1460px) {
  .bg-primary {
    padding: 50px 180px 120px 180px;
  }
  .header h1 {
    font-size: 60px;
    line-height: 81px;
  }
  .footer {
    font-size: 24px;
    line-height: 31px;
  }
}
@media screen and (max-width: 1220px) {
  .bg-primary {
    padding: 40px 120px 70px 120px;
  }
  .header h1 {
    font-size: 40px;
    line-height: 54px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .footer_list_item,
  .card_item {
    width: 100%;
  }
  .fixed-nav {
    padding: 12px 16px;
  }
}
@media screen and (max-width: 912px) {
  .fixed-nav {
    padding: 14px 20px;
    flex-direction: column;
    justify-content: center;
  }
  .fixed-nav_item {
    margin-bottom: 5px;
  }
  .badge {
    height: 15px;
    width: 20px;
  }
}

@media screen and (max-width: 820px) {
  .footer {
    font-size: 24px;
    line-height: 40px;
  }
  .footer_list_item {
    padding: 20px 20px;
  }
}
@media screen and (max-width: 768px) {
  .header_heading,
  .header_description {
    padding: 0 5px;
  }
  .bg_card_primary,
  .bg_card_secondary {
    background: #f3f3f5;
  }

  .card_item {
    padding: 38px 18px;
  }
  .card_item h1 {
    margin-bottom: 8px;
    font-size: 32px;
    font-weight: 900;
  }
}
@media screen and (max-width: 560px) {
  .bg-primary {
    padding: 68px 0px 84px 0px;
  }
  .container {
    padding: 23px;
  }
  .header h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
  }
  .fixed-nav {
    top: 90%;
  }
  .card_item {
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
  }
  .footer_heading {
    padding-top: 35px;
    margin-left: 15px;
  }
}
